@import './base.css';

html, body, #app, main {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: calc(100vh - 52px); /* same as navbar height */
}

#graph-container {
  width: 100%;
  height: 100%; /* fill the parent <main> */
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.navbar {
  border-radius: 0 !important;
}

/* Make inner card content scrollable */
.scrollable-content {
  max-height: 60vh; /* or whatever fits your modal */
  overflow-y: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
/*    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;*/
  }
}

